<script setup>
import {RouterView } from 'vue-router'
</script>

<template>
<header>
    <img alt="Vue logo" class="logo" src="@/assets/TeraSync.jpeg" width="400" height="400" />

  <div class="greetings">
    <h1 class="white">Minimum and Recommended Requirements</h1>
      <table>
          <tr>
            <th>Component</th>
            <th>Minimum</th>
            <th>Recommended</th>
          </tr>
        <tr>
          <td>OS</td>
          <td>Windows 10</td>
          <td>Windows 11</td>
        </tr>
        <tr>
          <td>Processor</td>
          <td>Intel Core i3-2100</td>
          <td>Intel Core i5-3470</td>
        </tr>
        <tr>
          <td>Memory</td>
          <td>4 GB RAM</td>
          <td>8 GB RAM</td>
        </tr>
      </table>
  </div>
  </header>

  <RouterView />
</template>
<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  tr td{
    word-wrap: break-word;
  }

}
</style>