<script setup>
import {RouterView } from 'vue-router'
import HelloWorld from "@/components/SpecsMsg.vue";
</script>
<template>
  <header>
    <img alt="Vue logo" class="logo" src="@/assets/TeraSync.jpeg" width="400" height="400" />

    <div class="wrapper">
      <HelloWorld msg="An error has occurred" />
    </div>
  </header>

  <RouterView />
</template>
<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
